 
#registrationTitle {
  /*  background-color: #FFCE8E;
    background-image: url("../images/Gradient_7a.png");
    background-position: center bottom;
    border: 1px solid #333333;
    font-size: 2em;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    width: 60%;*/
	
	background-color:#006837;  
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
	color:#FFFFFF;
	margin: 20px;
	padding:10px 10px 3px 10px;
	text-align:left;
}

#subtitleTeacherReg, #subtitleStudentReg {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0px 0px 20px;
    padding: 0;
	text-align: left;
  /*  text-align: center;*/
}
#studentRegForm {
    margin: 20px;
}
/*#studentRegForm dl {
    background-color: #FFCE8E;
    border: 1px solid #333333;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 15px 10px;
    position: relative;
    text-align: left;
    width: 500px;
}*/
#studentRegForm dt {
    float: left;
    margin-top: 2px;
    padding: 4px 0 3px 0;
    text-align: left;
    width: 180px;
}
#studentRegForm dd {
    padding: 4px 0 3px 0;
}
#studentRegForm .periodLink {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 blue;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-size: 75%;
    padding: 1px 5px;
    text-decoration: none;
}
#studentRegForm .periodLink:hover {
    background-color: #FFFF00;
    color: #333333;
}
#teacherRegForm {
    margin: 20px;
}
/*#teacherRegForm dl {
    background-color: #FFCE8E;
    border: 1px solid #333333;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    text-align: left;
    width: 410px;
}*/
#teacherRegForm dt {
    float: left;
    margin-top: 2px;
    padding: 4px 0 3px 0;
    text-align: left;
    width: 160px;
}
#teacherRegForm dd {
    padding: 4px 0 3px 0;
}
#teacherFirstName, #teacherLastName, #teacherEmail, #teacherCity, #teacherState, #teacherCountry, #teacherSchool, #password, #repeatedPassword {
    padding-left: 2px;
}
#firstname, #lastname, #accountAnswer, #projectCode {
    padding-left: 2px;
}
#regButtons {
    clear: both;
    margin-top: 20px;
    text-align: center;
}
#regButtonsStudent {
    clear: both;
    margin-top: 20px;
    text-align: center;
}
#regButtonsStudent a {
    -moz-border-radius: 8px 8px 8px 8px;
    background-image: url("../images/WISE-Secondary-Banner-Gradient.png");
    background-position: center top;
    border-color: #666666 black black #666666;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px;
    padding: 4px 15px;
    text-decoration: none;
}
#regButtonsStudent a:hover {
    background-color: #FFFF00;
    background-image: none;
    cursor: pointer;
}
#regButtonsUpdate {
    margin-top: 25px;
}
#genderFieldDefault {
    color: #0099FF;
}
#birthMonthFieldDefault {
    color: #0099FF;
}
#birthDateFieldDefault {
    color: #0099FF;
}
#reminderQuestionFieldDefault {
    color: #0099FF;
}
.buttonStyle1 {
    clear: both;
    padding: 15px 6px 15px 10px;
}
.hint {
    background: url("../images/hint-pointer.gif") no-repeat scroll -100px -100px #0099FF;
    border: 1px solid #003399;
    color: #FFFFFF;
    display: none;
    font-size: 1em;
    font-weight: bold;
    line-height: 130%;
    margin-top: -4px;
    padding: 10px 12px;
    position: absolute;
    right: -215px;
    width: 175px;
    word-spacing: 1px;
}
.hint .hint-pointer {
    background: url("../images/hint-pointer.gif") no-repeat scroll left top transparent;
    height: 19px;
    left: -10px;
    position: absolute;
    top: 5px;
    width: 10px;
}
.blueText {
    color: #0000FF;
    padding: 0 0 0 5px;
}
#usernameConfirm {
    background-image: url("../images/Pixel_Gray.png");
    border: 1px solid #333333;
    color: #0000FF;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 0 5px;
    padding: 5px 40px;
    width: 300px;
}
#userClassnameConfirm {
    background-image: url("../images/Pixel_Gray.png");
    border: 1px solid #333333;
    color: #0000FF;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0 5px;
    padding: 2px 2px 2px 5px;
    width: 200px;
}
#regErrorMessages {
    color: #FF0000;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
#confirmationButtonTeacher {
    font-size: 1em;
    left: 270px;
    position: relative;
}
#subtitleConfirm {
    left: 230px;
    margin-bottom: 35px;
    position: relative;
    text-align: left;
    width: 670px;
}
#subtitleConfirm ul {
    font-size: 0.85em;
    list-style: none outside none;
    padding-left: 0;
    text-align: left;
}
#subtitleConfirm li {
    background: url("../images/ListBullet.gif") no-repeat scroll left 4px transparent;
    line-height: 150%;
    padding: 0 0 8px 25px;
}
.smallText {
    font-size: 0.9em;
}
#confirmationButtons {
    border-collapse: collapse;
    font-size: 0.8em;
    line-height: 140%;
    margin: 0 auto;
    text-align: center;
    width: 600px;
}
#confirmationButtons td {
    vertical-align: top;
}
#confirmationButtons td.text {
    color: #330033;
    font-weight: bold;
    padding-bottom: 30px;
}
.width122 {
    width: 122px;
}
.width166 {
    width: 166px;
}
#buttonText1 {
    font-size: 0.8em;
    margin: 10px 320px 30px;
    text-align: center;
}
#termsOfUse {
    font-size: 0.9em;
}
#curriculumSubjectsBox {
    background-color: #CCCCCC;
    border: 3px double #666666;
    font-size: 0.9em;
    left: 415px;
    line-height: 110%;
    margin: 0;
    min-height: 366px;
    padding: 4px;
    position: absolute;
    top: -1px;
    width: 260px;
}
#textCurriculumBox {
    font-size: 0.9em;
}
#useAgreement {
    background-color: #99FF66;
    border: 1px solid #000099;
    font-size: 1.2em;
    margin: 10px auto 15px;
    padding: 10px;
    width: 70%;
}
#useAgreement p {
    line-height: 120%;
    margin-bottom: 10px;
    text-align: left;
}
#boxNewAccountReg {
/*    background-color: #F3C383;
    background-image: url("../images/Gradient_7b.png");
    background-position: center top;
    border: 1px solid #006600;
    color: #003300;*/
   /* margin: 10px auto;*/
   text-align:left;
    padding: 20px;
	float:left;
   /* width: 60%;*/
	
	
	
}

#questionPromptReg {
   /* font-size: 1.3em;*/
    font-weight: bold;
    margin-bottom: 30px;
}
#newAccountButtons {
    line-height: 120%;
/*    text-align: center;*/
}
#newAccountButtons ul {
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}
#newAccountDetails {
    font-size: 1em;
    float: right;
    padding: 10px;
	margin: 20px;
    text-align: left;
    width: 40%;
	border-style:solid;
	border-color:#006837;
	border-width:1px;
}
#newAccountDetails ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#newAccountDetails li {
    font-size: 0.7em;
    font-weight: bold;
    line-height: 160%;
    margin: 0 0 15px;
    padding: 0;
}
#homelink {
    margin: 15px;
    position: relative;
    text-align: center;
}
#previewProjectTitle {
	background-color:#006837;  
	font-family:Arial,Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
	color:#FFFFFF;
	margin: 20px;
	padding:10px 10px 3px 10px;
	text-align:left;
	}
/*
    background-color: #FFCE8E;
    background-image: url("../images/Gradient_7a.png");
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #333333;
    clear: both;
    font-size: 2em;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    vertical-align: text-bottom;
    width: 95%;
}*/
/*#boxPreviewProject {
    border: 1px solid #006600;
    margin: 15px auto 30px;
    width: 95%;
}*/
#previewProjectHeader2 {
    color: #000000;
    font-size: 1.1em;
    font-weight: bold;
    margin: 25px 20px;
    text-align: left;
}
#previewProjectDetails {
    color: #000000;
    font-size: 0.9em;
    text-align: left;
}
#previewProjectDetails ul {
    padding: 0 40px 10px 20px;
}
#previewProjectDetails li {
    line-height: 140%;
    padding-bottom: 8px;
}
#previewProjectTable {
    border: none;
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 5px auto 20px;
    width: 96%;
}
#previewProjectTable td {
    background-color: #FFFFFF;
    padding: 0 0.5em;
    text-align: left;
    vertical-align: middle;
	border: none;
}
#previewProjectTable th {
    background-color: #006837;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-align: left;
	border: 0px;
}

#previewProjectTable tr {
	border-top:thin; 
	border-bottom:thin;
	}

#previewActionLinks {
    line-height: 180%;
}
#previewActionLinks a:link, #previewActionLinks a:visited {
    border: 1px solid transparent;
    color: #0000CC;
    padding: 3px;
    text-decoration: none;
}
#previewActionLinks a:hover {
    background-color: #FFFF00;
    border: 1px solid #666666;
    color: #000066;
}
#creditsIntroText {
    line-height: 130%;
    margin: 20px;
}
#creditsTeamTable {
    border-collapse: collapse;
    border-color: #666666 black black #666666;
    border-style: solid;
    border-width: 1px;
    margin: 10px auto;
    text-align: left;
    width: 98%;
}
#creditsTeamTable th {
    background-color: #000066;
    color: #FFFFFF;
    font-size: 1.4em;
    font-variant: small-caps;
    font-weight: bold;
    padding: 5px 10px;
    vertical-align: top;
}
#creditsTeamTable td {
    background-image: url("../images/textureUltraLightBlue.png");
    background-position: center top;
    background-repeat: repeat;
    border: 1px solid #333333;
    padding: 10px;
    vertical-align: top;
}
.creditCategory {
    color: #000033;
    font-size: 0.9em;
    font-style: italic;
    width: 100px;
}
#creditsTeamTable dl {
    line-height: 140%;
    margin: 0;
    padding: 0;
}
#creditsTeamTable dt {
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 10px;
    width: 180px;
}
#creditsTeamTable dd {
    color: #333333;
    font-size: 0.8em;
    font-weight: normal;
}
#creditsTeamTable .email {
    color: green;
    margin-left: 25px;
}
.alumnaeHeader {
    color: #333333;
    font-size: 0.8em;
    font-variant: small-caps;
    margin: 10px 10px 0;
}
.alumnaeNames {
    color: #000000;
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px 10px 0;
}
#creditsTeamTable .secondaryDL dt {
    width: 220px;
}
Firebug's log limit has been reached. 0 entries not shown.		Preferences	 